<ion-header>
  <ion-toolbar>
    <ion-title> TEST  </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()"><ion-icon name="close" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button *ngIf="!show" (click)="showFrame()">ABILITA</ion-button>
  <ion-button *ngIf="show" (click)="showFrame()">DIS-ABILITA</ion-button>
  <ion-card *ngIf="show" style="width: 80%;height: 70%">


    <iframe id="frameAR" src="/assets/aframe-ar.html"></iframe>



  </ion-card>

</ion-content>
